<ion-view view-title="{{playlistsheader}}{{playlistsheadermore}}">
  <ion-content>
    <h1 class="text-center cust_who_are_geeks">Testimonials</h1>
    
    <div class="container cnt">
		 <div class="col-md-6 col-sm-12 text-center"><br>
                <img src="img/custmer.jpg" alt="Geeks Technical Support" class="img-responsive" >
            </div>
            <div class="col-md-6 col-sm-12 txt-area text-center">
                <p class="undrline cust_who_are_geeks"><strong>PERSONAL SOLUTION</strong></p>
                <h2 class="cust_who_are_geeks">Jose Brown, San Francisco</h2>
                <p class="cust_who_are_geeks text-justify for-padding">“I just wanted to write a note to let you know that your technical support team is wonderful! They are so courteous and polite and more than willing to help a lending hand whenever I have called. I just wanted to let you know that they make my day, due to their friendliness every time that I need to call. Thanks again!! "</p>
            </div>
    </div>
      <div class="container-fluid cnt cust_row sliide11">
            <div class="col-md-6 col-sm-12 clr testimony">
                <p class="undrline wht text-center"><strong>BUSINESS SOLUTIONS</strong></p>
                <h2 class="wht text-center">Wanda Lin,San Francisco</h2>
                <p class="wht text-justify for-padding">“I just wanted to write a note to let you know that your technical support team is wonderful! They are so courteous and polite and more than willing to help a lending hand whenever I have called. I just wanted to let you know that they make my day, due to their friendliness every time that I need to call. Thanks again!!"</p>
            </div>
            <div class="col-md-6 col-sm-12 sukh_space text-center">
                <img src="img/lady.jpg" alt="Geeks Technical Support">
            </div>
      </div>
  </ion-content>
</ion-view>
