<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div class="bar bar-subheader cust_bar cust_bar-subheader" ng-controller="SubHeaderCtrl" >
      <img class="cust-img cust-img-phone" src="img/phone-call.png">

      <span class="call_us_strong" ng-click="callGeeks()" ><strong ng-click="callGeeks()" ng-show="network!='none'">{{numbertocall}}</strong><strong ng-click="callGeeks()" ng-show="network=='none'">No Internet Access</strong></span>
    </div>
    <!-- TABS -->
    <ion-tabs>

      <ion-tab title="<img class='c_abt_img' src='img/aboutus.png'>" icon-off="" icon-on="" href="#/app/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
      </ion-tab>

      <ion-tab title="<img class='c_abt_img' src='img/testimonial.png'>" icon-off="" icon-on="" href="#/app/subscriptions">
        <ion-nav-view name="tab-browse"></ion-nav-view>
      </ion-tab>

      <ion-tab title="<img class='c_abt_img' src='img/contactus.png'>" icon-off="" icon-on="" ng-click="login()">
        <ion-nav-view name="tab-playlists"></ion-nav-view>
      </ion-tab>

    </ion-tabs>

  </ion-side-menu-content>

   <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <img class='title-image-side-menu' src='img/geeks-logo-mobile.png' >
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Contact
        </ion-item>
        <ion-item menu-close onClick="forMenu('#/app/search')" href="#/app/search">
          About
        </ion-item>
        <ion-item menu-close onClick="forMenu('#/app/browse')" href="#/app/browse">
          Testimonials
        </ion-item>
        <ion-item menu-close onClick="forMenu('#/app/subscriptions')" href="#/app/subscriptions">
          Subscriptions
        </ion-item>
        <ion-item menu-close onClick="forMenu('#/app/services')" href="#/app/services">
          Services
        </ion-item>  
        <ion-item menu-close onClick="forMenu('#/app/playlists')" href="#/app/playlists">
          Playlist
        </ion-item>  
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
