<ion-view view-title="{{playlistsheader}}{{playlistsheadermore}}">
  <ion-content>
    <h1 class="text-center no_of_comp">No of Years</h1>
    <div class="sm_container ff">
	
		<div class="icon-set">
			<div class="sm_col-lg-2"></div>
			
			<div ng-click="shoppingOnlineStep3(1)" class="sm_col-lg-12 sm_col-sm-12 pdng">
            <div  class="sm_col-lg-4 sm_col-sm-6">
			<img src="img/computer-price.jpg" height="110" width="130" alt="Geeks Technical Support"></div>
            	<div class="sm_col-lg-6 sm_col-sm-6 bck-clr">
				<h4 class="undrline">1 YEAR</h4>
				<p>STARTS AT $199</p>
				<footer class="text-right brandsection-Continue-text sukh_footer"> CONTINUE &gt;  </footer>
				</div>
			</div>
            
			<div class="sm_col-lg-2 pad"></div>
			<div ng-click="shoppingOnlineStep3(2)" class="sm_col-lg-12 sm_col-sm-12 pdng">
            <div  class="sm_col-lg-4 sm_col-sm-6">
			<img src="img/computer-2yr.jpg" height="109" width="130" alt="Geeks Technical Support"></div>
            	<div class="sm_col-lg-6 sm_col-sm-6 bck-clr">
				<h4 class="undrline">2 YEAR</h4>
				<p>STARTS AT $299</p>
				<footer class="text-right brandsection-Continue-text sukh_footer"> CONTINUE &gt;  </footer>
				</div>
			</div>
			<div class="sm_col-lg-2 pad"></div>
			<div ng-click="shoppingOnlineStep3(3)" class="sm_col-lg-12 sm_col-sm-12 pdng">
            <div  class="sm_col-lg-4 sm_col-sm-6">
			<img src="img/computer-price2yr.jpg" height="109" width="130" alt="Geeks Technical Support"></div>
            	<div class="sm_col-lg-6 sm_col-sm-6 bck-clr">
				<h4 class="undrline">3 YEAR</h4>
				<p>STARTS AT $399</p>
				<footer class="text-right brandsection-Continue-text sukh_footer"> CONTINUE &gt;  </footer>
				</div>
			</div>
			
		 <div class="sm_col-lg-1"></div>
	</div>
	</div>
	
  </ion-content>
</ion-view>
