<ion-view view-title="{{playlistsheader}}{{playlistsheadermore}}">
  <ion-content>
  <div id="aboutimg" class="col-md-4 col-sm-12 col-xs-12"> 
      <img src="img/layer_208.jpg" class="img-responsive">
      <div class="row">
        <div class="col-md-12 col-sm-12 text-center">
          <h3 class="cust_who_are_geeks">Who are these geeks?</h3>
          <p class="text-justify" >Geeks Technical Support is an independent provider of technical support services for brands like Dell, HP, Asus, Microsoft, Canon and many others. Use of names, and trademarks are for reference only. Geeks Technical Support is a global company employing technicians across US and India. Our team of computer experts and specialists are happy to cater to our customers and resolve issues to serve your needs!</p>
        </div>
      </div>
    </div>
   <div class="cust_help_when_you_need">
          <h2 class="cust_valign">Help when you need it.</h2>
          <br>
          <div class="row valign">
            <div class="img_div text-center">  
                <div class="purple-ring animated bounceIn">
                    <img src="img/phone.png" alt="phone">
                </div> 
            </div>
            <div class="cust_help_when_you_need_text icn-txt">
              <h3 class="cust_help_when_you_need_text_gucall cust_help_when_you_need_text" >Give us a call</h3>
              <h4 class="cust_help_when_you_need_text">Call us at <strong>1-800-832-5456</strong><br>
                Monday through Friday between 9am and 9pm.</h4>
            </div>
          </div>
          <div class="row  greybg">
            <div class="img_div col-md-2 col-sm-12">
                <div class="green-ring ear">
                    <img src="img/ear.png" alt="ear">
                </div>
            </div>
            <div class="col-md-10 col-sm-12 icn-txt cust_help_when_you_need_text">
              <h3 class="cust_help_when_you_need_text">We listen, then evaluate the issue</h3>
              <h4 class="cust_help_when_you_need_text">Our team of highly experienced technical staff will listen and evaluate what needs to be done.</h4>
            </div>
          </div>
          <div class="row ">
            <div class="img_div col-md-2 col-sm-12"> 
                <div class="purple-ring snap">
                    <img src="img/snap.png" alt="snapping fingers">
                </div>
            </div>
            <div class="col-md-10 col-sm-12 icn-txt cust_help_when_you_need_text">
              <h3 class="cust_help_when_you_need_text">Find the right solution</h3>
              <h4 class="cust_help_when_you_need_text">We’ll work to find the right plan of action for you!</h4>
            </div>
          </div>
          <div class="row greybg">
            <div class="img_div col-md-2 col-sm-12"> 
                <div class="green-ring desktop-face">
                    <img src="img/desktop-face.png" alt="smiling desktop">
                </div> 
            </div>
            <div class="col-md-10 col-sm-12 icn-txt cust_help_when_you_need_text">
              <h3 class="cust_help_when_you_need_text">Fix the issue</h3>
              <h4 class="cust_help_when_you_need_text">We work with you over the phone or right on your desktop to get you up and running quickly!</h4>
            </div>
          </div>
        </div>      
        
      <div class="row no-margins">
        <div class="col-md-3 col-sm-12 text-center case custh2">
          <h2 class="cust_help_when_you_need_text">300,000+</h2>
          <p class="cust_help_when_you_need_text">cases resolved</p>
        </div>
        <div class="col-md-6 col-sm-12 text-center">
            <img class="img-responsive case-laptop" src="img/layer_179.png">
        </div>
        
      </div>
      <div class="col-md-12 col-sm-10 col-xs-10">
        <hr>
        <h4 class="cust_help_when_you_need_text text-center">Copyright Geeks Tech LLC 2016</h4>
      </div>
  </ion-content>
</ion-view>
