<ion-view view-title="{{playlistsheader}}{{playlistsheadermore}}">
  <ion-content>
    <h1 class="text-center cust_who_are_geeks"></h1>
    <div class="sm_container ff">
	
		<div class="icon-set">
			<div class="sm_col-lg-2"></div>
			<div ng-click="shoppingOnline('antivirus')" class="sm_col-lg-12 sm_col-sm-12 pdng">
            <div  class="sm_col-lg-4 sm_col-sm-6">
			<img src="img/antivius-icon.jpg" height="125" width="130" alt="Geeks Technical Support"></div>
            	<div class="sm_col-lg-6 sm_col-sm-6 bck-clr">
				<h4 class="undrline">ANTIVIRUS</h4>
				<p>General computer support will answer your questions about using your Mac or PC.</p>
				<footer class="text-right brandsection-Continue-text"> CONTINUE >  </footer>
				</div>
			</div>
            
			<div class="sm_col-lg-2 pad"></div>
			<div ng-click="shoppingOnline('computer')" class="sm_col-lg-12 sm_col-sm-12 pdng">
            <div  class="sm_col-lg-4 sm_col-sm-6">
			<img src="img/computer-support.jpg" height="125" width="130" alt="Geeks Technical Support"></div>
			<div class="sm_col-lg-6 sm_col-sm-6 bck-clr">
			<h4 class="undrline">COMPUTER SUPPORT</h4>
			<p class="setig">General computer support will answer your questions about using your Mac or PC.</p>
			<footer class="text-right brandsection-Continue-text">CONTINUE > </footer>
			</div></div>
			<div class="sm_col-lg-2 pad"></div>
			<div ng-click="shoppingOnline('windows')" class="sm_col-lg-12 sm_col-sm-12 pdng">
            <div class="sm_col-lg-4 sm_col-sm-6">
		 	<img src="img/windows-support.jpg" height="105" width="130" ></div>
			<div class="sm_col-lg-6 sm_col-sm-6 bck-clr">
			<h4 class="undrline">WINDOWS SUPPORT</h4>
			<p>Specialized support for Windows users.</p>
			<footer class="text-right brandsection-Continue-text"> CONTINUE > </footer>
			</div>
		  </div>
		 <div class="sm_col-lg-2 pad"></div>
			<div ng-click="shoppingOnline('mac')" class="sm_col-lg-12 sm_col-sm-12 pdng">
            <div class="sm_col-lg-4 sm_col-sm-6">
		 	<img src="img/mac-support.jpg" height="105" width="130"></div>
			<div class="sm_col-lg-6 sm_col-sm-6 bck-clr"> 
			<h4 class="undrline">MAC SUPPORT</h4>
			<p>Specialized support for Windows users.</p>
			<footer class="text-right brandsection-Continue-text"> CONTINUE > </footer>
			</div>
		 </div>
		<div class="sm_col-lg-2 pad"></div>
			<div ng-click="shoppingOnline('network')" class="sm_col-lg-12 sm_col-sm-12 pdng">
            <div class="sm_col-lg-4 sm_col-sm-6">
		 	<img src="img/network-securty.jpg" height="105" width="130"></div>
			<div class="sm_col-lg-6 sm_col-sm-6 bck-clr"> 
			<h4 class="undrline">NETWORK SECURITY</h4>
			<p >Specialized support for Windows users.</p>
			<footer class="text-right brandsection-Continue-text"> CONTINUE > </footer>
			</div>
		 </div>
		 <div class="sm_col-lg-1"></div>
	</div>
	</div>
	
  </ion-content>
</ion-view>
